/build*
.kdev4/
homelinux.kdev4
*.orig
.c9
.vscode
src/crawlers/html-link-extractor/node_modules/
src/crawlers/html-link-extractor/package-lock.json 
dev/gentoo-pkg-converter/node_modules/
dev/gentoo-pkg-converter/portage-latest.tar.bz2
dev/gentoo-pkg-converter/portage-stable/
autotools/autom4te.cache/